# Compiled binaries
vulnsearch

# Database files
*.sqlite3
*.sqlite3-journal

# Generated code
internal/webserver/assets-prod.go

# Other runtime data
/data/*
!/data/.gitkeep

# Test coverage
/coverage/*
!/coverage/.gitkeep
