<div class="jumbotron">
  <div class="container">
    <h1>Search for CVEs by identifier, summary, ...</h1>
    <form action="/search">
      <div class="form-group row">
        <input class="form-control form-control-lg col-sm-8" type="text" name="q" value="<%= HTML.escape(query) %>" placeholder="Search query" aria-describedby="searchHelpBlock">
        <button class="btn btn-outline-primary col-sm-4" type="submit">Search</button>
      </div>
      <p id="searchHelpBlock" class="form-text text-muted">
        Examples: <kbd>CVE-2014-0160</kbd>, <kbd>OpenSSL</kbd>, <kbd>cross-site request forgery</kbd>
      </p>
    </form>
  </div>
</div>
