<div class="container">
  <% cves.each do |cve| %>
    <div class="card">
      <div class="card-block">
        <%= cve.id %><br />
        <%= cve.summary %>
      </div>
    </div>
  <% end %>
</div>
