<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vulnsearch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/dist/application.css" crossorigin="anonymous" />
</head>

<body>
  <%= yield %>
  <script type="module" src="/dist/application.js"></script>
</body>

</html>
