<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/vendor/css/bootstrap/4.0.0-alpha.6/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <%-= render "src/views/shared/nav.ecr" %>
    <%-= render "src/views/shared/searchform.ecr" %>

    <%-= content %>

    <hr />
    <div class="container">
      <footer>
        <p><a href="https://github.com/t-richards/vulnsearch">Vulnsearch</a> is free and open source software, licensed under the <a href="https://github.com/t-richards/vulnsearch/blob/master/LICENSE">MIT License</a>.</p>
        <p>Copyright &copy; <%= Time.now.year %> <a href="https://tomrichards.net/">Tom Richards</a></p>
      </footer>
    </div>
  </body>
</html>
